# mac
**/__MACOSX

# virtual environment
.venv/

# vscode
.vscode/

# data
data/*.zip
data/models
data/photos
data/crops
data/.ipynb_checkpoints

# notebooks
notebooks/.ipynb_checkpoints/*
**/.ipynb_checkpoints/*

.DS_Store

*.png
*.webp
*.keras
*.h5